
<%- include('partials/header', { user: user }); -%>

<ul class="recipes">
    <li class="recipe">
        <img src="/dollar.png" alt="USD icon">
        <h4>USD</h4>
        <p>Current rate</p>
        <p id="usd-rate">PLN: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/euromaidan.png" alt="EURO icon">
        <h4>EURO</h4>
        <p>Current rate</p>
        <p id="eur-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/funt.png" alt="USD icon">
        <h4>Funts</h4>
        <p>Current rate</p>
        <p id="gbp-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/frank.png" alt="USD icon">
        <h4>Frank</h4>
        <p>Current rate</p>
        <p id="chf-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/won.png" alt="USD icon">
        <h4>WON</h4>
        <p>Current rate</p>
        <p id="krw-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/rupi.png" alt="USD icon">
        <h4>Rupi</h4>
        <p>Current rate</p>
        <p id="inr-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/hrivna.png" alt="USD icon">
        <h4>Hryvnia</h4>
        <p>Current rate</p>
        <p id="uah-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/kitai.png" alt="USD icon">
        <h4>Yuán</h4>
        <p>Current rate</p>
        <p id="cny-rate">USD: Loading...</p>
    </li>
    <li class="recipe">
        <img src="/kron.png" alt="USD icon">
        <h4>Kron</h4>
        <p>Current rate</p>
        <p id="sek-rate">USD: Loading...</p>
    </li>
</ul>
<script src="/currency.js"></script>

<%- include('partials/footer'); -%>

